.category-list {
  display: flex;
  overflow: auto;
  padding: 5px 0px;
  -webkit-mask-image: linear-gradient(to right, rgb(255, 255, 255) 70%, rgba(255, 255, 255, 0.25));
}

.category-list > div {
  background: #eee;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  transition: 0.5s ease all;
  margin: 0px 6px;
}

.category-list > div:hover, div.is-selected {
  background: rgba(29,167,195,1);
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease all;
}